CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
CONFIG_PACKAGE_default-settings-chn=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_autocore=y
