CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=y
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_nano-plus=y
CONFIG_PACKAGE_ddns-go=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_htop=y
